* {
  box-sizing: border-box;
}
body {
  background-color: #ae1332;
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  min-width: 320px;
  max-width: 375px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 33px;
    padding-left: 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
.order {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #ae1332;
}
@media only screen and (min-width: 768px) {
  .order {
    padding-top: 137px;
    padding-bottom: 144px;
  }
}
@media only screen and (min-width: 768px) {
  .order {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
.title-h-one {
  max-width: 335px;
  margin: 0 auto;
  margin-bottom: 14px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 768px) {
  .title-h-one {
    width: 624px;
    font-size: 40px;
    line-height: 44px;
  }
}
.desc {
  max-width: 335px;
  margin: 0 auto;
  margin-bottom: 44px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  color: #ffffff;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 768px) {
  .desc {
    width: 509px;
  }
}
.step-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 44px;
}
@media only screen and (min-width: 768px) {
  .step-list {
    gap: 24px;
    margin-bottom: 80px;
  }
}
@media only screen and (min-width: 1280px) {
  .step-list {
    flex-direction: row;
  }
}
.step-item {
  max-width: 335px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  background: #ffffff;
  border-radius: 20px;
}
@media only screen and (min-width: 768px) {
  .step-item {
    width: 389px;
    height: 128px;
    padding: 40px 20px;
  }
}
.step-box {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
}
.step-btn {
  position: relative;
  width: 136px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 42px;
  gap: 10px;
  border-radius: 200px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.first {
  background: #ae1332;
}
.second {
  background: #a1c864;
}
.third {
  background: #f5ce13;
}
.step {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #ffffff;
}
.step-text {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;
  color: #000000;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 326px) {
  .step-text {
    font-size: 14px;
    line-height: 18px;
  }
}
@media only screen and (min-width: 1280px) {
  .step-item:nth-child(1) .step-text,
  .step-item:nth-child(2) .step-text {
    margin-right: 33px;
  }
}
.step-img-box {
  max-width: 335px;
  height: 476px;
}
@media only screen and (min-width: 768px) {
  .step-img-box {
    width: 704px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1280px) {
  .step-img-box {
    width: 860px;
  }
}
.step-img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 30% 50%;
  border-radius: 20px;
}
@media only screen and (min-width: 768px) {
  .step-img {
    object-position: 80% 50%;
  }
}
@media only screen and (min-width: 1280px) {
  .step-img {
    object-position: 50% 50%;
  }
}
